{% extends 'base.html' %}
{% load static %}


{% comment %} {% block css %}
<link rel="stylesheet" href="{% static 'leads/lead-list.css' %}">
{% endblock %} {% endcomment %}
{% comment %} {% block scripts %}



{% endblock %} {% endcomment %}

{% block title %}
Login Page
{% endblock %}



{% block body %}
{% if request.user.is_authenticated %}
<div>
    <div>
        <h3>{{ agent.session.phone_num }}</h3>
        <form method="post">
            {% csrf_token %}
            <button class="btn-md btn-primary btn active" name='swap' type="submit">Swap Phone Number</button>
        </form>
    </div>
    <div>
        {% comment %} <h4>{{ otp }}</h4> {% endcomment %}
        {{ otp }}
        <form method="post">
            {% csrf_token %}
            <button class="btn-md btn-primary btn active" name='otp' type="submit">Get OTP</button>

        </form>

    </div>
</div>


<div class='container h-100 d-flex justify-content-center mt-3'>
    <h1>This is the lead list</h1>
</div>

<div class='container h-100 d-flex justify-content-center mt-3'>
    <h2>Current User : {{ request.user.username }}</h2>
</div>


<div class='ml-3'>
    <a href="{% url 'repopulate-list' %}" class="btn-md btn-primary btn active" role="button"
        aria-pressed="true">Repopulate</a>
</div>



<div class='text-right mr-3'>
    <a href="{% url 'home-page' %}" class="btn-md btn-primary btn active" role="button" aria-pressed="true">Home
        page</a>
</div>

<h3 class='text-center mb-3'>Pending</h3>

<div class='m-3'>
    <table class="table table-sm table-striped table-bordered">
        <thead class="thead">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Username</th>
                <th scope="col">Agent</th>
                <th scope="col">Target Group</th>
                <th scope="col">Handle</th>
                <th scope="col">Contacted</th>
            </tr>
        </thead>
        <tbody>
            {% for campaign in campaign_not_contacted %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ campaign.lead.first_name }}</td>
                <td>{{ request.user.username }}</td>
                <td>{{ campaign.target_grp }}</td>
                <td><a
                        href="https://telegram.me/{{ campaign.lead.username }}">https://telegram.me/{{ campaign.lead.username }}</a>
                </td>
                <td><a href="{% url 'update-db' campaign.id %}">✔️</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
<h3 class='text-center mb-3 mt-3'>Completed</h3>


<div id='completed' class='container h-100 d-flex justify-content-center mt-3'>
    <table class="table table-sm table-striped table-bordered">
        <thead class="thead">
            <tr>
                <th scope="col">#</th>
                <th scope="col">Username</th>
                <th scope="col">Target Group</th>
                <th scope="col">Handle</th>
                <th scope="col">Joined</th>
            </tr>
        </thead>
        <tbody>
            {% for campaign in campaign_contacted %}
            <tr>
                <th scope="row">{{ forloop.counter }}</th>
                <td>{{ campaign.lead.username }}</td>
                <td>{{ campaign.target_grp }}</td>
                <td><a
                        href="https://telegram.me/{{ campaign.lead.username }}">https://telegram.me/{{ campaign.lead.username }}</a>
                </td>
                {% if campaign.joined  %}
                <td>Yes</td>
                {% else %}
                <td>No</td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% else %}
<div class="container h-100 d-flex justify-content-center">
    <div class="jumbotron my-auto">
        <div class="container text-center">
            <h1>You are not logged in.</h1>
            <a href='{% url 'login-page' %}'>Login</a>
        </div>

    </div>
</div>
{% endif %}


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>    

<script>
    $(document).ready(function () {
        setInterval(function () {
            $("#completed").load(window.location.href + " #completed");
        }, 3000);
    });
</script>


{% endblock %}