/* html, body {
    height: 100%;
} */

.leadsBtn{
    padding: 8px 20px;
    border:1px solid #514AC0;
    background-color: #514AC0;
    border-radius: 10px;
    margin-top: 15px;
    color: white;
}